.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 102px;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #e8e5e5;
  }

  &:last-child::after {
    display: none;
  }
}
