.slider-container-outside{
    width: 100%;
    max-width: 1370px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.window {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.all-page-container {
    display: flex;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 500px;
}

.slider-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-description ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.button-slider {
    display: inline-block;
    background-color: #ff4a4a;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 16px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-slider:hover {
    background-color: #e63c3c;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.indicator-button {
    width: 14px;
    height: 14px;
    margin: 0 6px;
    border-radius: 50%;
    /*border: none;*/
    /*background-color: #d3d3d3;*/
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;


    text-decoration: none;
    outline: none;
    background-color: #ffffff;
    border: 2px solid #f60404;
    color: #e63d57;


}

.indicator-button.active {
    background-color: #ff4a4a;
}






.slider-container {
    h2{
        font-family: 'Roboto Condensed Regular', sans-serif;
        font-size: 33px;
        margin-top: 70px;
        /* background-color: rgba(255, 255, 255, 0.85); */
        padding: 10px;
        position: relative;
        width: 810px;
        left: -50px
    }
}
.slider-description {
    /*list-style-image: url(/local/templates/main/css/../img/list-image.png);*/
    text-align: left;
    line-height: 1.8;
    background-color: rgba(255, 255, 255, 0.97);
    padding: 10px 0px;
}