.link {
  color: #c70a05;
  font-family: "Roboto Regular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px dotted #c70a05;
  padding-bottom: 3px;

  &:hover {
    color: #c70a05;
    text-decoration: none;
    border-bottom: 1px solid #c70a05;
    cursor: pointer;
  }
}
